/* small devices */
.daily-wrapper,
.daily-wrapper .dailies {
    display: flex;
    flex-direction: column;
}

.daily-wrapper .dailies {
    gap: 5px;
}

/* medium-devices and large-devices (tablets) */
@media screen and (min-width: 40em) {
    .daily-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .daily-wrapper .dailies {
        grid-column: 1;
        grid-row: auto;
    }

    .daily-wrapper .dailies {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
    }
}