nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'daily task playground clock';
    background-color: var(--blueOcean-90);
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
}

nav .links {
    display: flex;
}

nav .links a {
    display: inline-block;
    color: var(--white-paper);
    background-color: var(--transparent);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav .links a.active {
    background-color: var(--light-green-95);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow:
        1px 1px 0 var(--black),
        /* Bottom right */
        -1px -1px 0 var(--black),
        /* Top Left */
        1px -1px 0 var(--black),
        /* Top Right */
        -1px 1px 0 var(--black);
    /* Bottom Left */
}

nav .clock {
    grid-area: clock;
    justify-self: end;
    margin-right: 20px;
}

nav .clock span {
    color: var(--white-paper);
    font-size: 15px;
}

@media screen and (min-width: 40em) {
    nav {
        width: 50%;
        left: 25%;
    }
}