/* You can add global styles to this file, and also import other style files */
@import url('styles/colors.css');

* {
    -webkit-tap-highlight-color: var(--transparent);
}

body {
    min-height: 90vh;
    background-color: var(--white-paper);
    background-image: radial-gradient(var(--ligth-gray-45) 1.75px, transparent 1.75px), radial-gradient(var(--ligth-gray-45) 1.75px, var(--white-paper) 1.75px);
    background-size: 70px 70px;
    background-position: 0 0,35px 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}